{
    "env": {
        "targets": {
            "node": 18
        }
    },
    "jsc": {
        "parser": {
            "syntax": "typescript"
        }
    },
    "module": {
        "type": "es6"
    },
    "sourceMaps": "inline"
}